# Taps
tap "1password/tap"
tap "alexsjones/llmfit"
tap "anomalyco/tap"
tap "arimxyer/tap"
tap "charmbracelet/tap"
tap "gromgit/brewtils"
tap "homebrew/autoupdate"
tap "jakehilborn/jakehilborn"
tap "manaflow-ai/cmux"
tap "nguyenphutrong/tap"
tap "oven-sh/bun"
tap "protonpass/tap"
tap "steipete/tap"

# CLI Tools
brew "aom"
brew "asdf"
brew "aws-vault"
brew "awscli"
brew "bat"
brew "bruno-cli"
brew "eza"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "git"
brew "git-extras"
brew "git-filter-repo"
brew "git-lfs"
brew "glib"
brew "glances"
brew "go"
brew "homeassistant-cli"
brew "jq"
brew "lazygit"
brew "libheif"
brew "llmfit"
brew "mas"
brew "mole"
brew "neovim"
brew "node"
brew "nvm"
brew "pnpm"
brew "pyenv"
brew "sesh"
brew "shellcheck"
brew "starship"
brew "tailscale"
brew "television"
brew "tmux"
brew "tree"
brew "uv"
brew "webp"
brew "worktrunk"
brew "yq"
brew "zoxide"
brew "zsh"
brew "zsh-syntax-highlighting"
brew "arimxyer/tap/models"
brew "gromgit/brewtils/taproom"
brew "oven-sh/bun/bun"
brew "protonpass/tap/pass-cli"
# GH Extensions (install manually: gh extension install <repo>)
# gh extension install dlvhdr/gh-dash

# Desktop Applications (Casks)
cask "1password"
cask "1password-cli"
cask "bruno"
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-iosevka"
cask "font-jetbrains-mono-nerd-font"
cask "font-meslo-for-powerlevel10k"
cask "ghostty"
cask "google-chrome"
cask "home-assistant"
cask "lulu"
cask "obsidian"
cask "orbstack"
cask "proton-pass"
cask "protonvpn"
cask "raycast"
cask "session-manager-plugin"
cask "tableplus"
cask "visual-studio-code"
cask "wezterm"
cask "zed"
cask "zen"
cask "manaflow-ai/cmux/cmux"
cask "nguyenphutrong/tap/quotio"

# Mac App Store Apps
mas "Irvue", id: 1039633667
mas "Tailscale", id: 1475387142
mas "WireGuard", id: 1451685025

# VS Code Extensions
vscode "catppuccin.catppuccin-vsc-icons"
vscode "christian-kohler.npm-intellisense"
vscode "christian-kohler.path-intellisense"
vscode "davidbwaters.macos-modern-theme"
vscode "dbaeumer.vscode-eslint"
vscode "ecmel.vscode-html-css"
vscode "esbenp.prettier-vscode"
vscode "formulahendry.auto-close-tag"
vscode "formulahendry.auto-rename-tag"
vscode "usernamehw.errorlens"
vscode "yoavbls.pretty-ts-errors"
vscode "yzhang.markdown-all-in-one"

# Go Packages
go "github.com/cosmtrek/air"
go "github.com/golang-migrate/migrate/v4/cmd/migrate"
go "github.com/golangci/golangci-lint/cmd/golangci-lint"
go "honnef.co/go/tools/cmd/staticcheck"
